@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container {
  height: calc(100% - 1/12 * 100%);
  overflow-y: auto;
}

.scrollable-container {
  flex: 1;
  overflow-y: auto;
}
/* Add this to your index.css or any relevant CSS file */
.chart-container {
  max-height: 400px; /* Adjust this value as needed */
  width: 100%;
  overflow: auto;
}
